###############################################################################
##########       Created by: Microsoft Visual Studio Code            ##########
###############################################################################

.vscode/launch-properties.json

src/QnA.py

openAIkey

.env.example

node_modules/
